@import "tailwindcss";

:root {

  --white: #ffffff;
  --black: #000000;
  --forest-green:#00573F;
  --light-green: #D1FAE5;
  --dark-blue:#0B55B8;
  --light-blue:#C9E0FF;
  --maroon:#8A1538;
  --grey:#DEDEDE;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

html,body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
